@media (max-width: 768px) {

    .head-section {
        padding: 12px;
        .header-top {
            padding: 0;
    
            .header-left {
                list-style: none;
                display: flex;
    
                li {
                    color: $white;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: left;
                    font-family: $secondary-font;
    
                    .pipe {
                        margin: 0 5px;
                        font-weight: bold;
                    }
                }
            }
    
            .header-right {
                list-style: none;
                display: flex;
                align-items: center;
    
                li {
                    margin-right: 10px;
    
                    a {
                        color: $white;
    
                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }
    
                    .cart {
                        position: relative;
    
                        span {
                            position: absolute;
                            top: -7px;
                            right: -5px;
                            background: $white;
                            color: $secondary-color;
                            width: 10px;
                            height: 10px;
                            border-radius: 100%;
                            font-size: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                    }
    
                    .profile {
                        display: flex;
                        align-items: center;
                        margin-top: -10px;
    
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
    
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    
        .header-border {
            border: solid 1px rgba($color: $white, $alpha: 0.9);
            border-bottom: 0;
            margin: 31px 0 12px;
        }
    
        .header-bottom {
            // padding: 21px 0 80px;
            padding: 0;
    
            ul {
                list-style: none;
                display: flex;
    
                li {
                    a {
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                        text-align: left;
                        font-family: $secondary-font;
                        color: $white;
                        span {
                            margin: 0 14px;
                        }
                    }
    
                    .active-page {
                        color: $white;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .dropdown-list {
        font-size: 11px;
    }
    /* INFO SECTION */
    .info-section {
        .bonus-section {
            .card {
                margin-bottom: 22px;

                .card-body {
                    padding: 11px 23px 10px 18px;

                    div {
                        h6 {
                            font-size: 8px;
                            margin-bottom: 5px;
                        }
            
                        h1 {
                            font-size: 42px;
                        }
                    }

                    .arrow {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        background: $primary-color;

                        i {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .member-info {
            .card-body {
                .info-title {
                    margin-bottom: 1.5rem;
                    font-size: 25px;
                }
            }
        }
    }

    /* LATEST NEWS SECTION */
    .latest-news {

        .card {
            padding:18px;
            margin-top: -110px;

            .card-title {
                font-size: 20px;
                margin-bottom: 30px;
            }

            .card-body {
                padding: 0;

                .news {
                    padding: 12px 10px;
                    margin-bottom: 20px;

                    .news-img {
                        padding-right: 11px;
                    }

                    .news-content {
                        .news-title {
                            font-size: 12px;
                            line-height: 40px;
                        }

                        .user-name {
                            margin-top: 8px;
                            font-size: 9px;
                        }

                        .news-text {
                            font-size: 10px;
                            margin-bottom: 7px;
                        }

                        .news-btn {
                            font-size: 10px;
                        }
                    }
                }
            }
        } 
    }

    /* PRODUCT SECTION */
    .product-section {
        margin-bottom: 25px;
        padding: 30px 15px 0 15px;

        .filtering {
            margin-bottom: 40px;

            .filter-title {
                font-family: $secondary-font;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                text-align: left;
                color: $color;
                margin-bottom: 1.5rem;
            }

            .search-field {
                position: relative;
                // width: 350px;

                .form-control {
                    border: none;
                    filter: drop-shadow(0px 3px 6px rgba(44, 40, 40, 0.11));
                    padding: 10.5px 0 10.5px 10px;
                    border-radius: 21px;
                    margin-bottom: 1.5rem;
                }

                .search-btn {
                    width: 42px;
                    height: 42px;
                    border: none;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $secondary-color;
                    color: $white;
                }
            }

            .form-group {
                .nice-select {
                    border: none;
                    text-overflow: ellipsis;
                    border-radius: 21.5px;
                    width: calc(100% - 100px);
                }
            }

            .ctg {
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media (max-width: 991px) {
    /* FOOTER SECTION START */
    .footer {

        .left-content {
            img {
                margin-top: 10px;
            }

            ul {
                list-style-type: none;

                li {
                    font-size: 12px;
                    line-height: 31px;
                    text-align: left;
                    color: $white;
                    margin-bottom: 0;
                }
                a {
                    font-family: $primary-font;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 31px;
                    text-align: left;
                    color: $white;
                    margin-bottom: 0;
                }
            }
        }

        .card {
            .card-body {
                padding: 0;

                .card-title {
                    font-family: $secondary-font;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 0px;
                    text-align: left;
                    color: $white;
                    margin: 25px 0 20px;
                }

                .product-title, .about-title, .dis-title {
                    margin: 0;
                    font-family: $secondary-color;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 52px;
                    text-align: left;
                    color: $white;
                }

                .nav {
                    .nav-item {
                        .nav-link {
                            margin-bottom: 0;
                            font-family: $primary-font;
                            font-weight: normal;
                            font-size: 12px;
                            text-align: left;
                            color: $white;
                            padding: 0;
                            margin-bottom: .75rem;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .card-text {
                    font-family: $primary-font;
                    font-weight: normal;
                    font-size: 12px;
                    text-align: left;
                    color: $white;
                }
            }
        }

        hr {
            border: solid 1px rgba($color: $white, $alpha: 0.9);
            margin-bottom: 10px;
        }

        .copyright-text {
            font-family: $secondary-font;
            font-weight: 500;
            font-size: 12px;
            line-height: 24px;
            text-align: left;
            color: $white;
            margin-bottom: 15px;
        }

        .menu-social {
            list-style: none;
            display: flex;
            margin-bottom: 0px;
            
            li {
                margin-right: .5rem;

                a {
                    width: 30px;
                    height: 30px;
                    background: $white;
                    text-align: center;
                    color: $primary-color;
                    margin: 0;
                    padding: 0;
                    border-radius: 50%;
                    font-size: .8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}