@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Sawarabi+Gothic&display=swap');

$primary-color: #A86007;
$secondary-color: #22A58E;
$color: #172B4D;
$white: #FFFFFF;
$black: #000000;
$body-bg: #F1F3F9;
$card-color:#4D4F5C;
$card-top-color:#8898AA;
$font-size: 18px;


$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Sawarabi Gothic', sans-serif;

